* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono NFP";
  font-size: 18px;
  min-height: 0px;
}

window#waybar {
  background: @theme_base_color;
  color: @theme_text_color;
}

#window {
  margin-top: 0px;
}

#workspaces {
  border-radius: 5px;
  background: @theme_bg_color;
}

#workspaces button {
  padding: 5px 5px;
  background: transparent;
  color: @theme_unfocused_text_color;
  border-bottom: 2px solid transparent;
}

#workspaces button.focused {
  background: @active_border;
  border-radius: 5px;
  border-bottom: 2px solid @theme_fg_color;
}

#temperature{
  padding: 5px 5px;
  background: @theme_bg_color;
  border-radius: 0px;
}

#battery{
  padding: 5px 5px;
  background: @theme_bg_color;
  border-radius: 0px;
}

#cpu{
  padding: 5px 5px;
  background: @theme_bg_color;
  border-radius: 0px;
}

#memory {
  padding: 5px 5px;
  background: @theme_bg_color;
  border-radius: 0px;
}

#language {
  padding: 5px 5px;
  background: @theme_bg_color;
  border-radius: 5px 0px 0px 5px;
}

#tray {
  padding: 5px 5px;
  background: @theme_bg_color;
  border-radius: 0px;
}

#clock {
  background: @theme_bg_color;
  padding: 5px 5px;
  border-radius: 5px;
}

#temperature.critical {
  color: @warning_color;
}


#battery.charging {
}

@keyframes blink {
  to {
    background-color: @theme_fg_color;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: @warning_color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-notification {
  padding: 5px 5px;
  background: @theme_bg_color;
  border-radius: 0px;
}
